[submodule "qjson"]
	path = 3rdparty/qjson
	url = https://github.com/flavio/qjson.git

[submodule "3rdparty/QtXlsxWriter"]
	path = 3rdparty/QtXlsxWriter
	url = https://github.com/VSRonin/QtXlsxWriter.git
